<!doctype html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/error.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="area" id="main_page"></div>
    <nav class="main-menu">
      <ul>
          <li>
              <a hx-get="/admindashboard" hx-trigger='click' hx-target='#main_page' hx-swap="innerHTML">
                  <i class="fa fa-home fa-2x"></i>
                  <span class="nav-text">
                      Dashboard
                  </span>
              </a>
          </li>
          <li class="has-subnav">
              <a hx-get="adduser" hx-trigger='click' hx-target='#main_page' hx-swap="innerHTML">
                 <i class="fa fa-list fa-2x"></i>
                  <span class="nav-text">
                      Add User
                  </span>
              </a>
              
          </li>
          <li class="has-subnav">
              <a hx-get="deleteuser" hx-trigger='click' hx-target='#main_page' hx-swap="innerHTML">
                 <i class="fa fa-folder-open fa-2x"></i>
                  <span class="nav-text">
                      Delete User
                  </span>
              </a>
          </li>
          <li>
              <a hx-get="updateuser" hx-trigger='click' hx-target='#main_page' hx-swap="innerHTML">
                  <i class="fa fa-bar-chart-o fa-2x"></i>
                  <span class="nav-text">
                      Update User
                  </span>
              </a>
          </li>
          <li>
              <a hx-get="getalluser" hx-trigger='click' hx-target='#main_page' hx-swap="innerHTML">
                  <i class="fa fa-font fa-2x"></i>
                  <span class="nav-text">
                     Total Users
                  </span>
              </a>
          </li>
      </ul>

      <ul class="logout">
          <li>
             <a href="/logout">
                   <i class="fa fa-power-off fa-2x"></i>
                  <span class="nav-text">
                      Logout
                  </span>
              </a>
          </li>  
      </ul>
  </nav>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"></script>
</body>
</html>